_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
.*crunch*.local.xml
.archive/
.assets/
.aws-sam
.axoCover/*
.builds
.context/
.docs/
.DS_Store
.env
.env.*
.feeds/
.git/
.history/
.NCrunch_*
.ntvs_analysis.dat
.repomix/
.sass-cache/
.vs/
.vshistory/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64[Ee][Cc]/
[Aa][Rr][Mm]64/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]ist/
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim_*.settings
*.bim.layout
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.coverage
*.coveragexml
*.db
*.db-shm
*.db-wal
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.dsp
*.dsw
*.e2e
*.env
*.GhostDoc.xml
*.gpState
*.idb
*.ilk
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.received.*
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.snupkg
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.trx
*.tss
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
**/__pycache__/
**/.cr/personal
**/.fake/
**/.ionide/
**/.localhistory/
**/.mfractor/
**/.paket/paket.exe
**/[Bb]in/*
**/[Pp]ackages/*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.rs.bk
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/mutants.out*/
*~
/.svelte-kit
/build
/package
/src-tauri/gen/
/src-tauri/target
/src-tauri/WixTools
~$*
$tf/
AppPackages/
artifacts/
ASALocalRun/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bin/x64/
bin/x86/
bld/
bun.lock
BundleArtifacts/
changelog*.md
ClientBin/
coverage*.info
coverage*.json
coverage*.xml
csx/
debug
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
FakesAssemblies/
FodyWeavers.xsd
Generated_Code/
Generated\ Files/
healthchecksdb
ipch/
MigrationBackup/
mono_crash.*
MSBuild_Logs/
nCrunchTemp_*
node_modules/
nunit-*.xml
obj/x64/
obj/x86/
OpenCover/
orleans.codegen.cs
package-lock.json
Package.StoreAssociation.xml
paket-files/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
repomix.*.json
.repomixignore
ScaffoldingReadMe.txt
ServiceFabricBackup/
src-tauri/Cargo.lock
StyleCopReport.xml
target
TestResult.xml
UpgradeLog*.htm
UpgradeLog*.XML
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

!?*.[Cc]ache/
!.axoCover/settings.json
!.env.example
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!**/[Pp]ackages/build/
!Directory.Build.rsp
