.assets/
.context/
.docs/
.DS_Store
.git/
.repomix/
.repomixignore
[Dd]ist/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
**/[Bb]in/*
**/[Pp]ackages/*
/.svelte-kit
/build
/src-tauri/gen/
/src-tauri/target/
node_modules/
obj/x64/
obj/x86/
project.fragment.lock.json
project.lock.json
publish/
repomix.*.json
src-tauri/Cargo.lock
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
yarn-error.log
