:root {
  --editor-bg: #282c34;
  --editor-fg: #cdd3de;
  --editor-fg-secondary: #99a2b3;
  --editor-fg-tertiary: #7c8395;
  --editor-surface-2: #21252b;
  --editor-surface-active: #3b404c;
  --editor-surface-hover: #363b45;
  --editor-border: #3b404c;
  --editor-border-secondary: #4b5263;
  --editor-selection-match-bg: rgba(97, 175, 239, 0.25);
  --editor-danger: #e06c75;
  --editor-danger-fg: #e06c75;
  --editor-file: #e5c07b;
  --editor-filepath: #98c379;
  --editor-link: #56b6c2;
  --editor-url: #56b6c2;
  --editor-code-bg: rgba(86, 182, 194, 0.06);
  --editor-code-fg: #98c379;
  --editor-highlight-bg: rgba(229, 192, 123, 0.2);
  --editor-hr-color: #4b5263;
  --editor-pre-bg: #1e2127;
  --editor-pre-fg: #cdd3de;
  --editor-quote-bg: rgba(198, 120, 221, 0.08);
  --editor-quote-fg: #c678dd;
  --editor-syntax-atom: #d19a66;
  --editor-syntax-comment: #99a2b3;
  --editor-syntax-heading: #e06c75;
  --editor-syntax-keyword: #c678dd;
  --editor-syntax-string: #98c379;
  --editor-syntax-emphasis: #61afef;
  --editor-syntax-strong: #e5c07b;
  --editor-preview-fg-heading: #e06c75;
  --editor-preview-fg-link: #56b6c2;
}
