@import 'tailwindcss';
@import './styles/variables.css';
@import './styles/editor.css';
@import './styles/preview.css';
@import './styles/ui.css';
@import './styles/print.css';

html,
body {
    margin: 0;
    overflow: hidden;
    background-color: var(--color-bg-main);
    color: var(--color-fg-default);
    height: 100%;
    width: 100%;
}
