/* MarkdownRS Default Dark Theme */

/* Editor Colors */
.cm-editor {
    background-color: var(--color-bg-main);
    color: var(--color-fg-default);
}

.cm-editor .cm-gutterElement {
    color: #515151 !important;
}

.cm-editor .cm-activeLineGutter {
    background-color: var(--color-bg-panel) !important;
    color: var(--color-fg-muted) !important;
    font-weight: bold;
}

.cm-editor .cm-activeLine {
    background-color: oklch(1 0 0 / 0.08) !important;
}

/* Selection & Matching */
.cm-editor.cm-focused .cm-selectionBackground,
.cm-editor .cm-selectionBackground,
.cm-editor .cm-content ::selection {
    background-color: oklch(0.67 0.18 305 / 0.35) !important;
}

.cm-editor .cm-selectionMatch {
    background-color: oklch(0.68 0.11 55 / 0.35);
}

/* Syntax Highlighting */
.cm-h1,
.cm-h2,
.cm-h3,
.cm-h4,
.cm-h5,
.cm-h6 {
    color: #e06c75;
    font-weight: bold;
}
.cm-h1 {
    font-size: 1.3em;
}
.cm-h2 {
    font-size: 1.2em;
}
.cm-h3 {
    font-size: 1.1em;
}
.cm-keyword {
    color: #c678dd;
}
.cm-atom {
    color: #d19a66;
}
.cm-number {
    color: #d19a66;
}
.cm-string {
    color: #98c379;
}
.cm-comment {
    color: #686868;
    font-style: italic;
}
.cm-emphasis {
    font-style: italic;
}
.cm-strong {
    font-weight: bold;
}
.cm-link {
    color: var(--color-accent-link);
    text-decoration: underline;
}
.cm-url {
    color: var(--color-accent-url);
    text-decoration: underline;
}
.cm-file-path {
    color: var(--color-accent-filepath);
    text-decoration: dotted;
}

/* Preview Colors */
.prose {
    --tw-prose-body: #abb2bf;
    --tw-prose-headings: #e06c75;
    --tw-prose-links: #61afef;
    --tw-prose-code: #82e57b;
    --tw-prose-quotes: #7f848e;
}
.prose blockquote {
    border-left: 4px solid #ddce78;
    background: oklch(0.77 0.09 90 / 0.18);
}
.prose pre {
    background: #333;
    color: #89e57b;
}
