/* MarkdownRS Default Dark Theme */

/* --- EDITOR CONTENT --- */
.cm-editor .cm-content {
    caret-color: #d58dff;
}
.cm-editor .cm-gutters {
    background-color: var(--color-bg-main) !important;
    border-right: 1px solid var(--color-border-main) !important;
}
.cm-editor .cm-gutterElement {
    color: #515151 !important;
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px !important;
}
.cm-editor .cm-activeLineGutter {
    background-color: var(--color-bg-panel) !important;
    color: var(--color-fg-muted) !important;
    font-weight: bold;
}
.cm-editor {
    background-color: var(--color-bg-main);
    color: var(--color-fg-default);
}
.cm-editor .cm-activeLine {
    background-color: rgba(255, 255, 255, 0.08) !important;
}

/* Text selection */
.cm-editor.cm-focused .cm-selectionBackground,
.cm-editor .cm-selectionBackground,
.cm-editor .cm-content ::selection {
    background-color: rgba(187, 112, 228, 0.35) !important;
}
.cm-editor .cm-selectionMatch {
    background-color: rgba(209, 154, 102, 0.35);
}

.cm-h1,
.cm-h2,
.cm-h3,
.cm-h4,
.cm-h5,
.cm-h6 {
    color: #e06c75;
    font-weight: bold;
}
.cm-h1 {
    font-size: 1.3em;
}
.cm-h2 {
    font-size: 1.2em;
}
.cm-h3 {
    font-size: 1.1em;
}
.cm-keyword {
    color: #c678dd;
}
.cm-atom {
    color: #d19a66;
}
.cm-number {
    color: #d19a66;
}
.cm-string {
    color: #98c379;
}
.cm-comment {
    color: #7f848e;
    font-style: italic;
}

.cm-link {
    color: var(--color-accent-link);
    text-decoration: underline;
}
.cm-url {
    color: var(--color-accent-url);
    text-decoration: underline;
}
.cm-file-path {
    color: var(--color-accent-filepath);
    text-decoration: underline;
}

.cm-emphasis {
    font-style: italic;
}
.cm-strong {
    font-weight: bold;
}

/* Markdown Elements */
.cm-highlight {
    background-color: var(--color-bg-highlight);
    color: #000;
}
.cm-strikethrough {
    text-decoration: line-through;
    opacity: 0.8;
}
.cm-code {
    background-color: var(--color-bg-code);
    color: var(--color-fg-code);
    padding: 2px 4px;
    border-radius: 4px;
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}
.cm-blockquote {
    color: var(--color-fg-muted);
    background-color: var(--color-bg-quote);
    border-left: 4px solid var(--color-border-quote);
    padding-left: 10px;
    margin-left: 0;
    font-style: italic;
}

/* --- PREVIEW CONTENT --- */
.prose {
    --tw-prose-body: #abb2bf;
    --tw-prose-headings: #e06c75;
    --tw-prose-links: #61afef;
    --tw-prose-code: #82e57b;
    --tw-prose-quotes: #7f848e;
}
.prose blockquote {
    border-left: 4px solid rgb(221, 206, 120);
    background: rgb(221, 206, 120, 0.18);
    border-radius: 4px;
}
.prose code {
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    font-weight: normal;
}
.prose h1,
.prose h2,
.prose h3,
.prose h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
}
.prose h1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 0.3em;
}
.prose pre {
    background: #333;
    color: #89e57b;
}
