/* MarkdownRS Default Dark Theme Reference

   This file defines the overrides used by the default dark theme.
   You can copy this file to create your own custom theme.
*/

:root {
    --preview-fg-body: #abb2bf;
    --preview-fg-heading: #e06c75;
    --preview-fg-link: #61afef;
    --preview-fg-code: #89e57b;
    --preview-bg-code: oklch(0.53 0.12 140 / 0.15);
    --preview-fg-quote: #7f848e;
    --preview-bg-quote: oklch(0.77 0.09 90 / 0.18);
    --preview-border-quote: #ddce78;
    --preview-bg-pre: #333333;
    --preview-fg-pre: #89e57b;
}

/* Editor Colors */
.cm-editor {
    background-color: var(--surface-1);
    color: var(--text-primary);
}

/* Selection */
.cm-editor.cm-focused .cm-selectionBackground,
.cm-editor .cm-selectionBackground,
.cm-editor .cm-content ::selection {
    background-color: oklch(0.35 0.35 305 / 0.35) !important;
}

/* Syntax Highlighting - Colors Only */
.cm-h1,
.cm-h2,
.cm-h3,
.cm-h4,
.cm-h5,
.cm-h6 {
    color: #e06c75;
}
.cm-keyword {
    color: #c678dd;
}
.cm-atom,
.cm-number {
    color: #d19a66;
}
.cm-string {
    color: #98c379;
}
.cm-comment {
    color: #686868;
}
.cm-link {
    color: var(--color-accent-link);
}
